extends layout

block content
    if user
      h1 welcome back #{user.Username}
      a(href="/log-out") logout
    else 
      h1 please log in or 
        a(href="/sign-up") sign up
      form(method="POST" action="/log-in")
        div.form-group
          label(for="username") Username:
          input#username.form-controler(type="text" name="username" required="true")
        div.form-group
          label(for="password") Password:
          input#password.form-controler(type="password" name="password" required="true")
        button.btn.btn-primary(type='submit') Log in
      
      