doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='header')
      ul
        li 
          a(href="/") Home
        li 
          a(href="/membership") Membership
        li 
          a(href="/sign-up") Sign up
        li 
          a(href="/log-out") Logout
        li 
          a(href="/messages") Messages
    block content
